<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centered-table">
            <tr>
                <th></th>
                <th th:block th:each="column : ${columns}" th:text="${column.value}"></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>
                            <a th:href="@{/list/jobs(column='all', value='all')}">View All</a>
                        </li>
                    </ul>
                </td>
                <td th:block th:each="column : ${columns}">
                    <ul>
                        <li th:each="item : ${tableChoices[column.key]}">
                            <a th:href="@{/list/jobs(column=${column.key}, value=${item})}" th:text="${item}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>